http://{$APP_DOMAIN:interview.careray.com} {
    redir https://{host}{uri} permanent
}

https://{$APP_DOMAIN:interview.careray.com} {
    tls internal
    header Permissions-Policy "microphone=(self)"
    reverse_proxy frontend:80
}
